.pick-button-container {
    height: 400px;
    display: table;
    align-items: center;
    justify-content: center;
}

.pick-button {
    height: 40px;
    width: 100px;
}

.chosen-option-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}