<table>
    <tr>
        <div class="chosen-option-container">
          <label>{{chosenOption}}</label>
        </div>    
    </tr>
    <tr>
        <div class="pick-button-container">
            <button class=pick-button (click)="getRandomLunchOption()">{{lunchButtonTitle}}</button>
            <button class=pick-button (click)="getRandomDinnerOption()">{{dinnerButtonTitle}}</button>
            <button class=pick-button (click)="getRandomCoffeeOption()">{{coffeeButtonTitle}}</button>
            <button class=pick-button (click)="getRandomIceCreamOption()">{{iceCreamButtonTitle}}</button>
            <button class=pick-button (click)="listAll()">{{listButtonTitle}}</button>
        </div>
    </tr>
</table>
<router-outlet></router-outlet>